---
layout: default
title: Home
home: true
---

<div id='content'>
  <div class='right'>
    <h1 class='inset' style='margin-bottom: 10px'>Facebook</h1>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fwgsufm&amp;width=255&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=false&amp;appId=133124820099547" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:255px; height:558px;" allowTransparency="true"></iframe>

    <div id='twitter'>
      <img alt='Twitter Bird' src='images/twitter-handdrawn.png' />
      <h1 class='inset'>Twitter</h1>

      <div id='tweets'>
      </div>
    </div>
  </div>

  <div class='left'>
    <div class='post'>
      
      {% for post in site.posts %}
        {% if post.layout == 'post' %}
          <article>
            <h1 class='inset'><a href='{{ post.url }}'>{{ post.title }}</a></h1>

            <span class='byline'>BY {{ post.author }}</span>

            {{ post.content | format_content }}
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
